{% extends "layout.html" %}

{% block title %}
 portfolio
{% endblock %}

{% block main %}




<table class="table">
    <thead><tr>
        <th scope="col">symbols</th>
        <th scope="col">shares</th>
        <th scope="col">price</th>
        <th scope="col">TOTAL</th>
      </tr></thead>
      <tbody>
        {% for row in database %}
    <tr>
        <td>{{row['symbol']}}</td>
        <td>{{row['shares']}}</td>
        <td>{{row['price']}}</td>
    </tr>

    {% endfor %}
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <th scope="1">Total Cash</th>
            <th scope="1">{{cash}}</th>

        </tr>
    </tfoot>
      </tbody>



  </table>





{% endblock %}